<!doctype html>
<html>
<head>
</head>
<body>
<div class="container">
  <h1>WebSockets Chat App</h1>
  <div id="chat-log"></div>
  <div id="form">
    <input type="text" id="message">
    <button id="disconnect">Disconnect</button>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>
